<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post List</title>
</head>
<body>
<h1>Post List</h1>
<table>
    <thead>
    <tr>
        <th>No</th>
        <th>Title</th>
        <th>Author</th>
        <th>Views</th>
        <th>Date Created</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post, stat : ${posts}">
        <td th:text="${stat.index + 1}"></td>
        <td><a th:href="@{'/post/' + ${post.postId}}" th:text="${post.title}"></a></td>
        <td th:text="${post.author}"></td>
        <td th:text="${post.views}"></td>
        <td th:text="${post.createdAt}"></td>
    </tr>
    </tbody>
</table>
<a href="/add">Create New Post</a>
</body>
</html>